<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8" />
<title>Manipulation de vue</title>
<script src=https://unpkg.com/vue@3/dist/vue.global.js></script>
</head>
<body>

<div id="monapp">
    <button @click="changerTitre">{{ titre }}</button> <br> <br>
    <div class="compteur-container">
        <button @click="decrementer">--</button>
        <span>{{ compteur }}</span>
        <button @click="incrementer">++</button>
    </div>
    <br>
    <input type="text" v-model="texte" @input="verifierTexte">
    <p v-if="messageVisible">{{ message }}</p>
</div>

<script>
    const appli = {
        data () {
            return {
                titre: "Cliquez moi!",
                compteur: 0,
                texte: "",
                message: "Le texte ne doit pas contenir d'espaces.",
                messageVisible: false
            }
        },
        methods: {
            changerTitre() {
                this.titre = "Cliqué!";
            },
            incrementer() {
                this.compteur++;
            },
            decrementer() {
                this.compteur--;
            },
            verifierTexte() {
                this.messageVisible = this.texte.includes(" ");
            }
        }
    };
    
    Vue.createApp(appli).mount("#monapp");
</script>

</body>
</html>